.card-text{
    background-color: #4aaaa5;
    color:white;
    text-align: center;
}
.content{
    width: 960px;
}

.images{
    display:inline-grid;
    height: 220px;
    margin:25px;

}
.img_wrapper:hover{
    background-color: #068f88;
}